.calendarContainer {
  width: 100%;
  margin: 0 auto;
  background-color: #ececec;
  border-radius: 10px;
  padding: 16px;
  color: #000000;
  font-family: sans-serif;
}
.calendarContainer .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.calendarContainer .header .navButton {
  background-color: none;
  border: none;
  color: #000000;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 3rem;
}
.calendarContainer .header .addButton {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background: none;
}
.calendarContainer .header .monthTitle {
  margin: 0;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.calendarContainer .formToggleContainer {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendarContainer .formToggleContainer .FormTitle {
  font-size: 3rem;
  font-weight: 700;
  color: #4f86c6;
}
.calendarContainer .formToggleContainer .addButton {
  background-color: blue;
  border-radius: 30%;
  padding: 0 15px;
  border: none;
  color: white;
  margin: 0;
  font-size: 2.5rem;
}
.calendarContainer .weekDaysRow {
  display: flex;
  justify-content: space-between;
  background-color: #2f2c49;
  padding: 15px 0;
  border-radius: 4px;
  color: white;
  border-bottom: 1px solid white;
}
.calendarContainer .weekDaysRow .weekDay {
  flex: 1;
  text-align: center;
  font-weight: bold;
}
.calendarContainer .weekRow {
  display: flex;
  justify-content: space-between;
  background-color: #2f2c49;
  color: white;
  padding: 10px 0;
  font-size: 1rem;
}
.calendarContainer .weekRow .dayCell {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  border-radius: 4px;
}
.calendarContainer .upcomingEvents {
  margin-top: 16px;
}
.calendarContainer .upcomingEvents h3 {
  padding: 10px 0 20px 0;
}
.calendarContainer .upcomingEvents .card {
  background-color: #4f86c6;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  justify-content: space-between;
}
.calendarContainer .upcomingEvents .card .cardInfo {
  color: white;
  font-size: 1.5rem;
}
.calendarContainer .upcomingEvents .card .cardInfo p {
  padding: 5px 0;
  font-size: 1.1rem;
}
.calendarContainer .upcomingEvents .card .cardDate {
  font-size: 0.9rem;
  color: #ccc;
}
.calendarContainer .upcomingEvents .card .cardInfo-btn {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.calendarContainer .upcomingEvents .card .removeButton {
  margin-left: 8px;
  background-color: red;
  border: none;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.calendarContainer .addForm {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.calendarContainer .addForm .input {
  padding: 8px;
  border-radius: 4px;
  border: none;
}
.calendarContainer .addForm .submitButton {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  align-self: flex-start;
}/*# sourceMappingURL=CalendarEvents.css.map */