* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} /*
:root {
} */
.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: 1;
  cursor: pointer;
}

img,
video {
  height: auto;
  width: 100%;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: white;
  padding: 10px;
  background: red;
  border-radius: 3px;
  text-align: center;
}

.showMessage {
  display: block;
  color: 1;
  background-color: 1;
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0px;
  padding: 0.8rem 1rem;
  color: 1;
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  color: 1;
  background-color: 1;
}

.loginPage,
.registerPage {
  display: flex;
  align-items: end;
  height: 100vh;
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 7px 50px white;
  background-color: #144f93;
}
.loginPage .container,
.registerPage .container {
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  background-color: #edf4fa;
  border-radius: 10px;
}
.loginPage .container .formDiv,
.registerPage .container .formDiv {
  margin: auto;
  flex-direction: column;
  gap: 1.5rem;
  transform: translateY(-1rem);
}
.loginPage .container .formDiv .headerDiv,
.registerPage .container .formDiv .headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginPage .container .formDiv .headerDiv h3,
.registerPage .container .formDiv .headerDiv h3 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPage .container .formDiv .headerDiv img,
.registerPage .container .formDiv .headerDiv img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPage .container .formDiv .form,
.registerPage .container .formDiv .form {
  gap: 1rem;
}
.loginPage .container .formDiv .form .inputDiv .icon,
.registerPage .container .formDiv .form .inputDiv .icon {
  color: green;
}
.loginPage .container .formDiv .form .inputDiv input,
.registerPage .container .formDiv .form .inputDiv input {
  background: none;
  outline: none;
  border: none;
  width: 200px;
  color: rgb(220, 215, 215);
}
.loginPage .container .formDiv .form .inputDiv label,
.registerPage .container .formDiv .form .inputDiv label {
  color: rgb(254, 254, 254);
  font-weight: 400;
  font-size: 14px;
  padding: 0.5rem 0;
  display: block;
}
.loginPage .container .formDiv .form .inputDiv .input,
.registerPage .container .formDiv .form .inputDiv .input {
  gap: 0.5rem;
  padding: 1rem;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}
.loginPage .container .formDiv .form .btn,
.registerPage .container .formDiv .form .btn {
  padding: 0.8rem;
  background: #4f86c6;
  border-radius: 10px;
  color: white;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease;
}
.loginPage .container .formDiv .form .btn .icon,
.registerPage .container .formDiv .form .btn .icon {
  font-size: 25px;
  transition: 0.3s ease;
}
.loginPage .container .formDiv .form .btn:hover,
.registerPage .container .formDiv .form .btn:hover {
  background: #021c8e;
  color: rgb(255, 255, 255);
}
.loginPage .container .formDiv .form .btn:hover .icon,
.registerPage .container .formDiv .form .btn:hover .icon {
  color: black;
  transform: translateX(5px);
}
.loginPage .container .formDiv .form .conditions,
.registerPage .container .formDiv .form .conditions {
  font-size: 13px;
  color: black;
  opacity: 0.7;
  text-align: center;
  padding: 15px 0;
}
.loginPage .container .formDiv .form .conditions span,
.registerPage .container .formDiv .form .conditions span {
  color: white;
}
.loginPage .container .formDiv .form .conditions a,
.registerPage .container .formDiv .form .conditions a {
  cursor: pointer;
  opacity: 1;
  color: #4f86c6;
  text-decoration: none;
}
.loginPage .container .formDiv .form .conditions a:hover,
.registerPage .container .formDiv .form .conditions a:hover {
  color: #021c8e;
}
.loginPage .container .formDiv .form .forgotPassword span,
.registerPage .container .formDiv .form .forgotPassword span {
  color: white;
}
.loginPage .container .formDiv .form .forgotPassword a,
.registerPage .container .formDiv .form .forgotPassword a {
  cursor: pointer;
  opacity: 1;
  color: #4f86c6;
  text-decoration: none;
}
.loginPage .container .formDiv .form .forgotPassword a:hover,
.registerPage .container .formDiv .form .forgotPassword a:hover {
  color: #021c8e;
}
.loginPage .container .formDiv .form .loginApi,
.registerPage .container .formDiv .form .loginApi {
  padding: 25px 0;
}
.loginPage .container .formDiv .form .loginApi hr,
.registerPage .container .formDiv .form .loginApi hr {
  border: 1px solid black;
}
.loginPage .container .formDiv .form .loginApi .ContainerLogin,
.registerPage .container .formDiv .form .loginApi .ContainerLogin {
  display: flex;
  padding: 20px 0 0 0;
  justify-content: space-evenly;
  align-items: center;
}
.loginPage .container .formDiv .form .loginApi .ContainerLogin a,
.registerPage .container .formDiv .form .loginApi .ContainerLogin a {
  text-decoration: none;
}
.loginPage .container .formDiv .form .loginApi .ContainerLogin a img,
.registerPage .container .formDiv .form .loginApi .ContainerLogin a img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.loginPage .container .formDiv .form .footerDiv,
.registerPage .container .formDiv .form .footerDiv {
  justify-content: center;
  display: flex;
}
.loginPage .container .formDiv .form .footerDiv .text,
.registerPage .container .formDiv .form .footerDiv .text {
  color: rgb(255, 255, 255);
}
.loginPage .container .formDiv .form .footerDiv p,
.registerPage .container .formDiv .form .footerDiv p {
  text-decoration: none;
  color: #4f86c6;
}
.loginPage .container .formDiv .form .footerDiv p:hover,
.registerPage .container .formDiv .form .footerDiv p:hover {
  color: #021c8e;
}

.dashboard {
  height: 100vh;
  width: 100%;
  justify-content: center;
  margin: auto;
}
.dashboard .dashboardContainer {
  height: 95vh;
  width: 95%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px white;
}

@media screen and (max-width: 500px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media screen and (max-width: 918px) {
  .heading {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (max-width: 990px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media screen and (max-width: 602px) {
  .loginPage .container,
  .registerPage .container {
    display: flex;
    justify-content: end;
    align-items: end;
    top: 0;
    bottom: 9;
    height: 90%;
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .loginPage .container .videoDiv .textDiv .title,
  .registerPage .container .videoDiv .textDiv .title {
    font-size: 20px;
  }
  .loginPage .container .videoDiv .textDiv p,
  .registerPage .container .videoDiv .textDiv p {
    padding: 1rem;
  }
  .loginPage .container .footerDiv .FooterDivBox .text,
  .registerPage .container .footerDiv .FooterDivBox .text {
    font-size: 12px;
  }
  .loginPage .container .footerDiv .FooterDivBox .span,
  .registerPage .container .footerDiv .FooterDivBox .span {
    padding: 0.4rem 1.5rem;
    width: 5px;
  }
  .loginPage .container .formDiv,
  .registerPage .container .formDiv {
    gap: 1rem;
    transform: translateY(0.5rem);
  }
  .loginPage .container .formDiv .headerDiv,
  .registerPage .container .formDiv .headerDiv {
    padding: 1rem img;
    padding-width: 40px;
  }
  .loginPage .container .formDiv .headerDiv h3,
  .registerPage .container .formDiv .headerDiv h3 {
    font-size: 20px;
  }
  .loginPage .container .formDiv .form,
  .registerPage .container .formDiv .form {
    gap: 0.5rem;
  }
  .loginPage .container .formDiv .form .inputDiv input,
  .registerPage .container .formDiv .form .inputDiv input {
    width: 100%;
  }
}
@media screen and (max-width: 678px) {
  .loginPage .container .videoDiv .textDiv .title,
  .registerPage .container .videoDiv .textDiv .title {
    font-size: 25px;
  }
  .loginPage .container .videoDiv .textDiv p,
  .registerPage .container .videoDiv .textDiv p {
    padding: 1rem;
  }
  .loginPage .container .videoDiv .footerDiv .text,
  .registerPage .container .videoDiv .footerDiv .text {
    font-size: 12px;
  }
  .loginPage .container .videoDiv .footerDiv .btn,
  .registerPage .container .videoDiv .footerDiv .btn {
    padding: 0.8rem 1.5rem;
    width: 50px;
  }
  .loginPage .container .formDiv .headerDiv,
  .registerPage .container .formDiv .headerDiv {
    padding: 1.5rem 0;
  }
  .loginPage .container .formDiv .headerDiv h3,
  .registerPage .container .formDiv .headerDiv h3 {
    font-size: 40px;
  }
  .loginPage .container .formDiv .form .inputDiv input,
  .registerPage .container .formDiv .form .inputDiv input {
    width: 100%;
    max-width: 200px;
  }
}
@media screen and (max-width: 927px) {
  .loginPage .container,
  .registerPage .container {
    width: 100%;
  }
}
::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=App.css.map */